th{
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    border-radius: 4px;
    font-family: Arial;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    text-align: center;
}
td{
    font-family: Arial;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
tr td:first-child { 
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 4px;
}
tr td:nth-child(1):hover { 
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 4px;
    text-decoration: none;
} 
tr td:nth-child(5):hover { 
    background-color: #69ff3b; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-color: #69ff3b; 
    border-radius: 4px;
    
}
td:hover{
    background-color: rgb(25, 25, 25);
    color: white;
    font-weight: bold;
    border-radius: 4px;
}