.header{
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
}
.title{
    font-size: 40px;
    margin: 0;
    font-family: Arial;
    font-weight: bold;
}
a{
    color: white;
    background-color: rgb(25, 25, 25);
    padding: 5px 60px 5px 60px;
    border-radius: 20px;
    text-decoration: none;
    font-family: Arial;
}
a:hover{
    background-color:#69ff3b; 
    color:rgb(25, 25, 25);
}
a:visited{
    color: white;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
}
#orders{
    display: none;
    display: grid;
    grid-template-columns: 1fr;
    width: 750px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}
th{
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    border-radius: 4px;
    font-family: Arial;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    text-align: center;
}
td{
    font-family: Arial;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
tr td:first-child { 
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 4px;
}
tr td:nth-child(1):hover { 
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 4px;
    text-decoration: none;
} 
tr td:nth-child(5):hover { 
    background-color: #69ff3b; 
    color: rgb(25, 25, 25);
    font-weight: bold;
    border-color: #69ff3b; 
    border-radius: 4px;
    
}
td:hover{
    background-color: rgb(25, 25, 25);
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

#showButton, #hideButton{
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    padding: 5px 20px 5px 20px;
    font-family: Arial;
    font-size: 15pxpx;
    border-radius: 20px;
}
#showButton:hover, #hideButton:hover{
    background-color:#69ff3b; 
    color:rgb(25, 25, 25);
}